:root {
  --background: #fff;
  --border: #fff;
  --gap: 1rem;
  --margin: 0 0 0 0;
  --border-radius: 0.25rem;
  --textAlign: center;
}

.Box {
  background-color: var(--background);
  text-align: var(--textAlign);
  border: 1px solid var(--border);
  padding: var(--gap);
  margin: var(--boxMargin);
  border-radius: var(--border-radius);
}
